.goHomeBtn {
  background-color: #f5f5f5;
  border-radius: 10px;
  border: 1px solid #000;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 10px;
  text-decoration: none;
}

.goHomeBtn:hover,
.goHomeBtn:focus {
  background-color: darkcyan;
  color: #fff;
  border: 1px solid darkcyan;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 20px;
  background-color: rgb(206, 206, 206);
  border-radius: 10px;
  border: 1px solid #000;
  margin-top: 10px;
  box-shadow: 0 1px 25px rgb(97, 152, 152);
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 100%;
}

.registerInput {
  min-height: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #000000;
}

.registerBtn {
  display: flex;
  align-items: center;
  font-weight: 600;
  padding: 5px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #000000;
}

.registerBtn:hover,
.registerBtn:focus {
  background-color: darkcyan;
  color: #fff;
  border: 1px solid darkcyan;
}

.loginLink {
  text-decoration: none;
  font-weight: 600;
  color: darkcyan;
}

.loginLink:hover,
.loginLink:focus {
  color: #fff;
}

.icon {
  margin: 5px;
}
