.navigation {
  display: flex;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #ffffff;
}

.link.active {
  color: darkcyan;
}

.link:hover,
.link:focus {
  color: darkcyan;
}

.icon {
  margin-right: 10px;
}
