.listItemWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.contactListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  background-color: rgb(217, 220, 225);
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgb(143, 176, 176);
}

.contactListItem:not(:last-child) {
  margin-bottom: 10px;
}

.name {
  display: flex;
  align-items: center;
  font-size: 16px;
  min-width: 400px;
}

.telefon {
  display: flex;
  align-items: center;
  font-size: 16px;
  min-width: 500px;
}

.btnDelete {
  margin-left: auto;
  font-size: 14px;
  color: white;
  padding: 10px 20px;
  background-color: rgb(223, 40, 77);
  border: none;
  border-radius: 10px;
}

.btnDelete:hover,
.btnDelete:focus {
  background-color: rgb(161, 11, 41);
}

.icon {
  margin-right: 5px;
}
